@media screen and (max-width: 800px) {
    .main-container {
       overflow: auto;
    }
}

/* main-container  */
.main-container {
    width: 1000px;
    height: 500px;
    overflow: auto;
    margin: 0 auto;
    position: relative;
    top: 30px;
}

/* heading-container */
.header-container > p {
    font-size: larger;
    width: 350px;
    height: 30px;
    box-sizing: border-box;
    padding-top: 5px;
    text-align: center;
    margin-top: 5px;
}
.header-container > p > span {
    font-weight: bold;
}
.header-container {
    width: 350px;
    margin: 0 auto;
}

/* table-container */
.table-container > table {
    width: 980px;
    margin: 0 auto;
}
.state {width: 300px; padding-left: 5px; color: white; text-align: left;}
.confirmed, .recovered,.active, .deaths {
    width: 120px;
    text-align: left;
    color: white;
    border-collapse: collapse;
}
.updated {
    width: 140px;
    text-align: left;
    color: white;
}
tr {
    height: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
th {
    font-size: 12px;
}
td {
    font-size: 14px;
    padding-left: 5px;
    background-color: white;
}
.green:hover {
    background-color: green;
}
.red:hover {
    background-color: red;
}
.table-container {
    width: 980px;
    margin: 0 auto;
    margin-top: 5px;
    background-color: black;
}

/* covid-container  */
.covid-container {
    width: 980px;
    margin: 0 auto;
}



