.search {
  width: 300px;
  height: 20px;
}
.sort {
  width: 308px;
  height: 25px;
}
.search-sort-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}


/* MovieList Container  */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* Movie Card CSS */
.movie-poster {
  width: 279px;
  height: 230px;
  border-radius: 10px;
}
.movie-title {
  height: 15px;
  margin-top: -0px;
  padding-left: 5px;
  padding-right: 5px;
}
.watch-button {
  margin-top: 5px;
  margin-left: 90px;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
  border-color: antiquewhite;
  align-items: center;
  background-color: rgb(202, 240, 240);
}
.watch-button:hover {
  background-color: rgb(135, 190, 173);
}
.title-button-container {
  background-color: bisque;
  margin-top: -2px;
  height: 68px;
  border-radius: 10px;
}
.movie-container {
  width: 280px;
  height: 300px;
  border: 1px solid #555;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  transition: all .2s ease-in-out;
}
  
  .movie-container:hover { 
  transform: scale(1.1); 
  }
  body{
    background-color:antiquewhite;
  }